.intro-scroll {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  position: absolute;
  bottom: 5rem;
  left: 10px;
  z-index: 1;
}

.intro-scroll a {
  display: inline-block;
  color: rgba(255, 255, 255, 0.457);
  position: relative;
  padding-right: 3rem;
}
.intro-scroll a::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 1;
  height: 1px;
  width: 150px;
  background-color: #bb5b24;
}

@media only screen and (max-width: 600px) {
  .download-button {
    margin-top: 50px;
  }
}
